*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.grid-card {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.card img {
  width: 200px;
  padding-bottom: 10px;
}

.card:hover {
  text-decoration-line: underline;
}

@media (max-width: 768px) {
  .grid-card {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .grid-card {
    flex-direction: column;
  }
  .card img {
    height: 180px;
  }
}

@media (max-width: 360px) {
  .grid-card {
    flex-direction: column;
  }
}